/.idea/
/.bundle
/.pytest_cache
/config/*.yml
/log
!/log/.gitkeep
/vendor
*.swo
*.swp
__pycache__
/.env
/venv
/.tox/
.python-version
/requirements.local.*
/settings/*_local.py
.DS_Store
/static/
!/static/.gitkeep
